extends layout

block content
  div#uploadFormContainer.container
    h1.title= 'File Upload'
    if success
        div= message
    else
        form#uploadForm(name='uploadForm', method='POST', action='/upload', enctype="multipart/form-data")
            div.formElement
                | File:
                input(type='file', name='file')
            div.formElement
                | Type:
                select(name='fileType')
                  option(value='xlsx') xlsx
                  option(value='csv') csv
            div.formElement
                input(type='submit', value='Upload')