body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
  padding-left: 50px;
}

#tableContainer {
  border: #ddd 1px solid;
}

#tableContainer tr td {
  width: 120px;
  height: 20px;
  border: #ddd 1px solid;
}

#tableContainer tr {
    height: 20px;
}

#tableContainer tr td input{
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    width: inherit;
}

#tableContainer tr td input:focus {
    outline: none;
}

#tableContainer tr td.activeCell {
  border: blue 1px solid;
}

.container {
    margin: 0 auto;
}

#uploadFormContainer {
    width: 500px;
    margin-top: 100px;
}

#uploadFormContainer .formElement {
    margin-bottom: 10px;
}